@import "../node_modules/bootstrap/scss/bootstrap";
$bg-dark: #343a40;
$text-white: #fff;
$spacer-y-0: 0 !default;
$footer-padding-x: 1.5rem;
$footer-padding-y: 1.5rem;
$padding-bottom-0: 0;

html {
    height: 100%;
}

body {
    position: relative;
    height:100%;
    //background: #4ECDC4;  /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    //favorita: vice city
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    //background: #FC5C7D;  /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    //background: #42275a;  /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

footer {
    position: absolute;
    width: 100%;
    background-color: $bg-dark;
    text-align: center;
    color: $text-white;
}

.footerContainer {
    @extend .container;
    padding: $footer-padding-y $footer-padding-x;
    padding-bottom: $padding-bottom-0;
}

.barraMenu {
    @extend .navbar;
    @extend .navbar-dark;
    @extend .navbar-expand-lg;
    background: $dark;
}

.botonDesplegable {
    @extend .navbar-toggler;
}

.itemCentral {
    @include make-container;
    @extend .centrarCentro;
    @include make-row;
    justify-content: center;
}

.contenidoCentral {
    @extend .container;
    @extend .centrarCentro;
    margin: 0 auto;
    max-width: 600px;
    justify-content: center;
}

.descripcion {
    @include make-col(8);
}

.menuDesplegado {
    @extend .navbar-nav;
    margin-left: auto;
}

.customContainer {
    @extend .container;
    position:relative;
    min-height: 100%;
    background-color: rgb(231, 249, 255);
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.carta {
    @extend .card;
    width: 20rem;
    margin: 20px;
}

.cartaGrande {
    @extend .card;
    margin: 20px;
    max-width: 100%;
    height: auto;
}

.linkMenuDesplegado {
    @extend .nav-link;
    margin-left: auto;
    color: rgba(178, 178, 178,1);
    padding-right: 8px;
}

.barraDesplegable {
    @extend .navbar-collapse;
} 

.letraTitulo {
    @extend .navbar-brand;
    color: white;
    padding-left: 5px;
}

.centrarCentro {
    text-align: center;
}

.centrarIzquierda {
    text-align: left;
}

.centrarDerecha {
    text-align: right;
}

.fotoCircular {
    @extend .img-fluid;
    display: block;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.fotoNormal {
    display: block;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}



.botonLink {
    a {
        nav-left: $nav-link-color;
    }
}

